<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
    <%= f.input :description, :input_html => {:style => 'width: 100%', :rows => 7, class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
