<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title %>
    <%= f.input :description %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
