<nav class="navbar navbar-default navbar-expand-lg" role="navigation" id="navbar">
	<div class="container">
		<div><h1><%= link_to "Blog", root_path, class: "navbar-brand", id: "logo" %></h1></div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><%= link_to "Articles", articles_path  %></li>
				<li><%= link_to "New Article", new_article_path %></li>
				<li><%= link_to "About", about_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if logged_in? %>
					<li><%= link_to "Logout", logout_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Login", login_path %></li>
					<li><%= link_to "Signup", signup_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>